@import '../../shared/styles/main';

.modal-container {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 10;
}

.tmp {
  position: absolute;
  right: 50px;
}

.modal-backdrop {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.2);
  display: block;
  pointer-events: auto;
}

.modal-popup {
  position: relative;
  padding: 20px;
  background: rgb(242, 245, 245);
  box-sizing: border-box;
  @include box-shadow(2px, 2px, 2px, gray, false);
}

.modal-close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
}

.modal {
  display: inline-block;
}